mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  border: 0;
  margin: 0;
}
